body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #f4f4f9;
    color: #333;
}

header {
    background-color: #6200ea;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #logo {
    height: 50px;  
    margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 60px);
    padding: 20px;
}

.upload-area {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: dashed 2px #6200ea;
    cursor: pointer;
    position: relative;
}

.upload-icon {
    font-size: 48px;
    color: #6200ea;
}

.upload-area p {
    font-size: 18px;
    color: #6200ea;
}

#results {
    width: 80%;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
footer {
    background-color: #6200ea;
    text-align: left;
    padding: 10px 20px;
    box-sizing: border-box;
}

footer img {
    height: 40px;
}
